#######################################################################################################################################

# Пример макроса для использования с модом для сборки отходов продувки и насадки для очистки сопел. Создан ее Her uncle
# (hernsl#8860 в Discord) и отредактирован Эдвардом Уиксом (edwardyeeks#6042 в Discord). Несколько идей, которые сделали
# его популярным, принадлежат Deuterium (deutherius#3295 на Discord).

# Цель этого макроса - предоставить процедуру очистки сопел и продувки, которая легко копируется в ваш принтер.cfg.
# Пользователи могут легко настраивать параметры и включать / отключать опции в первой части конфигурации. 
# Мы добавили много комменариев, из-за чего этот макрос выглядит огромным, но он остаётся информативным и последовательным. 

# ПОЖАЛУЙСТА, ПРОЧТИТЕ ВНИМАТЕЛЬНО.

# В этом примере конфигурации предполагается следующее: пользователь внедрил в VORON 1/2 стандартный мод для очистки сопла.
# Такую конфигурацию можно настроить под данную геометрию ведерок для отходов и щеток.

# Особенности этого макроса:
# - Возможность установки мода с щёткой и ведро сзади или спереди нагревательного стола.
# - Продувка, которую можно включать / отключать.
# - По умолчанию ведерки и щетка расположены сзади-слева нагревательного стола, и продувка включена.
# - Процедура продувки и очистки сопла распределяется случайным образом в левом или правом ведре, чтобы обеспечить 
#   максимально равномерное распределение остатков нити накала.

# Параметры по умолчанию заданы для обеспечения безопасных скоростей и перемещений. При необходимости измените параметры 
# процедуры очистки сопла в соответствии с вашим принтером.

# Чтобы не увеличивать длину строк в вашем основном файле printer.cfg, можно загрузить файл конфигурации отдельно в klipper и 
# включить его в основную конфигурацию принтера. Загрузите файл nozzle_scrub.cfg в тот же каталог, что и printer.cfg.
# Обычно он находится в каталоге /home/pi/.
# Пользователи Fluid, Mainsail и других интерфейсов klipper могут найти его в каталоге /home/pi/klipper_config/.

# После подключения мароса добавьте в свой файл printer.cfg в разделе "Макросы" следующее: [include /home/pi/nozzle_scrub.cfg]
# Для систем Fluid, Mainsail и других необходимо использовать следующее расположение: [include /home/pi/klipper_config/nozzle_scrub.cfg]

#######################################################################################################################################

# Название макроса clean_nozzle.

[gcode_macro clean_nozzle]

# Если вы устанавливаете щетку и ведерко в задней левой части кровати в соответствии с установкой по умолчанию,
# установите значение True в variable_location_bucket_rear. Если вы хотите разместить ведро для очистки в
# другом месте (возможно, спереди), установите значение False. Смотрите диаграммы и описание ниже о том, как задать положение XY.
variable_location_bucket_rear:      False

# Если вы хотите, чтобы продувка в ваше ведерко была включена, установите значение True (и наоборот).
variable_enable_purge:              False

# Если вы хотите включить продувку при охлаждении, установите значение True (и наоборот).
variable_enable_hotcold:            False

#####################################################################
#                       Настройка продувки
#####################################################################
# Данные параметры настраивают параметры для продувки (выдавливания некоторого объёма пластика).
# variable_purge_ret указывает на длину ретракта сразу после продувки и предотвращает протекание пластика. 
# Некоторые пластики продолжают сочиться секунду - другую после втягивания, переменная variable_ooze_dwell
# позволяет учесть это.
variable_purge_len:            20	         # Длина пластика, который будет выдавлен во время продувки, в мм.
variable_purge_spd:           150	         # Скорость продувки в миллиметрах в минуту.
variable_purge_temp_min:      170	         # Минимальная температура сопла для продувки. Если температура ниже, продувка не будет выполняться.
variable_purge_ret:             2            # Длина ретракта сразу после продувки.
variable_ooze_dwell:            2            # Время задержки в секундах после продувки и ретракта, перед очисткой сопла.


#####################################################################
#                       Настройка очистки
#####################################################################
# Отрегулируйте это значение так, чтобы сопло ходило по щётке. В целях безопасности значение по умолчанию 
# установлено намного выше. Будьте осторожны, не опускайтесь слишком низко!
variable_brush_top:            3             # Высота по Z, при которой сопло ходит по щётке
variable_brush_deep_max:       2.5             # Максимальная глубина погружения сопла 

# Эти параметры настраивают ваш процесс очистки, скорость перемещения, безопасный зазор по оси Z и количество проходов сопла по щётке.
# Направление очистки (слева на право или справо на лево) выбирается в зависимости от того,
# какое ведро для продувки было выбранно случайным образом - левое или правое.
variable_clearance_z:           5	         # Зазор по оси Z между соплом и щёткой при холостом ходе (когда спо)
variable_wipe_qty:              7	         # Количество проходов сопла по щётке.
variable_prep_spd_xy:        12000	         # Скорость холостого перемещения (когда сопло не идёт по щётке) по X и Y в мм/мин.
variable_prep_spd_z:         5000	         # Скорость холостого перемещения (когда сопло не идёт по щётке) по Z в мм/мин.
variable_wipe_spd_xy:        10000	         # Скорость очистки (сопло идёт по щётке).


#####################################################################
#                       Настройка щётки
#####################################################################
# Эти параметры определяют размеры щётки для очистки сопла. Измените их под свою щётку. Визуальные схема приведена ниже.
# Обратите внимание, что ориентация параметров остается одинаковой независимо от того, находится ли щётка сзади или спереди.
# 
#                  ←   brush_width   →                            
#                   _________________                                                          ↑
#                  |                 |  ↑                     Если вы указали location_bucket_rear = True, координата Y будет получена из
#  brush_start (x) |                 | brush_depth            вашей секции stepper_y параметра position_max. Настройте данный параметр,
#                  |_________________|  ↓                       что бы сопло ходило по щётке или укажите location_bucket_rear = False.       
#                          (y)                                                                 ↓
#                      brush_front
# __________________________________________________________
#                     PRINTER FRONT
# 
# 

# Укажите начало вашей щётки по оси X
variable_brush_start:     262

# Укажите ширину вашей щётки по оси X
variable_brush_width:      42	

# Данные параметры применяются только если у вас выставленно location_bucket_rear = False.
# Укажите значение по оси Y где начинается ваша щётка
variable_brush_front:       406         
variable_brush_depth:       1          

# Укажите количество сегментов щётки и сопло будет подниматься и опускаться между сегментами для лучшей очистки.
# ВНИМАНИЕ! Сильно увеличивает время очистки. По умолчанию 1.
variable_brush_segments:    1          
        

#####################################################################
#                       Настройка ведёрок для продувки
#####################################################################
# Данные параметры настраивают размеры и положение ваших ведёрок для очистки. Настройте их для себя. 
# Если вы не включили продувку, то можете игнорировать данню секцию. Схема представлена ниже. 
# Обратите внимание, что ориентация параметров остается одинаковой независимо от того, находится ли щётка сзади или спереди.
# 
#                                     bucket_gap
#                                      ← ---- →
#                     __________________________________________
#                    |                 |      |                 |      
#                    |                 |      |                 |
#  bucket_start (x)  |                 |______|                 |
#                    |                 |      |                 |
#                    |                 |      |                 |
#                    |_________________|. . . |_________________|
#                     ← ------------- →        ← ------------- →
#                     bucket_left_width        bucket_right_width
#  _______________________________________________________________________________________
#                                    PRINTER FRONT
# 

## Укажите ширину левого ведёрка
variable_bucket_left_width:    37

# Укажите ширину зазора между ведёрками variable_bucket_right_width и ширину правого ведёрка variable_bucket_gap.
variable_bucket_right_width:   35            
variable_bucket_gap:           25	

# For V1.8, you may need to measure where your bucket start is and input into bucket_start. Otherwise, a value of 0 is for a default
# installation of purge bucket at rear left.
variable_bucket_start:         232


###############################################################################################################################################
###############################################################################################################################################

### В блок ниже вносить изменения не реккомендуется!!!!!!

###############################################################################################################################################
###############################################################################################################################################

# Placeholder. The variable will later be set to contain, at random, a number representing the left or right bucket.
variable_bucket_pos:            1	        

gcode:
   # First, check if the axes are homed.
   {% if "xyz" in printer.toolhead.homed_axes %}

      ## Save the gcode state in this macro instance.
      SAVE_GCODE_STATE NAME=clean_nozzle

      ## Set to absolute positioning.
      G90

      ## Grab max position of Y-axis from config to use in setting a fixed y position for location_bucket_rear = True.
      {% set Ry = printer.configfile.config["stepper_y"]["position_max"]|float %}

      ## Check if user enabled purge option or not.
      {% if enable_purge %}

         ### Randomly select left or right bin for purge. 0 = left, 1 = right
         SET_GCODE_VARIABLE MACRO=clean_nozzle VARIABLE=bucket_pos VALUE={(range(2) | random)}

         ### Raise Z for travel.
         G1 Z{brush_top + clearance_z} F{prep_spd_z}

         ### Check if user chose to use rear location.
         {% if location_bucket_rear %}
            G1 Y{Ry} F{prep_spd_xy}
         {% else %}
            G1 Y{brush_front + (brush_depth / 2)} F{prep_spd_xy}
         {% endif %}

         ### Position for purge. Randomly selects middle of left or right bucket. It references from the middle of the left bucket.
         G1 X{bucket_start + (bucket_left_width / (2 - bucket_pos)) + (bucket_pos * bucket_gap) + (bucket_pos * (bucket_right_width / 2))}

         ### Perform purge if the temp is up to min temp. If not, it will skip and continue executing rest of macro. Small retract after
         ### purging to minimize any persistent oozing at 5x purge_spd. G4 dwell is in milliseconds, hence * 1000 in formula.
         {% if printer.extruder.temperature >= purge_temp_min %}
            M83      ; relative mode
            G1 E{purge_len} F{purge_spd}
            G1 E-{purge_ret} F{purge_spd * 5}
            G4 P{ooze_dwell * 1000}
            G92 E0   ; reset extruder
      {% endif %}

      {% endif %}

      ## Set wipe backoffice
      {% set brush_step = brush_width / brush_segments %}
      {% set brush_lanes = [ brush_front, brush_front+brush_depth/3, brush_front+brush_depth/3*2, brush_front+brush_depth ] %}
      {% set brush_zhop  = (brush_top - brush_deep_max) /5 %}
      {% set brush_hops  = [ brush_top, brush_top-brush_zhop, brush_top-brush_zhop*2, brush_top-brush_zhop*3, brush_top-brush_zhop*4, brush_top-brush_zhop*5 ] %}

      ## Position for wipe. Either left or right of brush based off bucket_pos to avoid unnecessary travel.
      G1 Z{brush_top + clearance_z} F{prep_spd_z}
      G1 X{brush_start + (brush_width * bucket_pos)} F{prep_spd_xy}

      ## Check if user chose to use rear location.
      {% if location_bucket_rear %}
         G1 Y{Ry}
      {% else %}
         G1 Y{brush_front + (brush_depth / 2)}
      {% endif %}

      ## Move nozzle down into brush.
      G1 Z{brush_top} F{prep_spd_z}
   
      ## Perform wipe. Wipe direction based off bucket_pos for cool random scrubby routine.
      G1 F{wipe_spd_xy}
      SET_GCODE_VARIABLE MACRO=_clean_nozzle_move  VARIABLE=move VALUE=True
      {% for wipes in range(1, (wipe_qty + 1)) %}
          {%for segments in range(1, (brush_segments+1)) %}
              _clean_nozzle_move X={brush_start + brush_width*bucket_pos + (1-2*bucket_pos)*brush_step*segments } Y={brush_lanes[range(4)|random]} Z={brush_hops[range(6)|random]}
          {% endfor %}
          {%for segments in range(1, (brush_segments+1)) %}
              _clean_nozzle_move X={brush_start + brush_width*(1-bucket_pos) - (1-2*bucket_pos)*brush_step*segments } Y={brush_lanes[range(4)|random]} Z={brush_hops[range(6)|random]}
          {% endfor %}
          {% if enable_hotcold == True %}
              _clean_nozzle_cooldown_check
          {% endif %}
      {% endfor %}

   
      ## Clear from area.
      M117 Cleaned!
      G1 Z{brush_top + clearance_z} F{prep_spd_z}
      G91
      G1 X{bucket_left_width / 4} F{prep_spd_xy} 

      ## Restore the gcode state to how it was before the macro.
      RESTORE_GCODE_STATE NAME=clean_nozzle

   {% else %}

      ## raise error will stop any macros that clean_nozzle is referenced in from proceeding for safety.
      { action_raise_error("Please home your axes!") }
      M117 Please home first!

   {% endif %}


###############################################################################################################################################
###############################################################################################################################################

[gcode_macro _clean_nozzle_move]
variable_move: True
gcode:
    
    {% if move == True %}
          {% set x = params.X %}
          {% set y = params.Y %}
          {% set z = params.Z %}
          G1 X{x} Y{y} Z{z}
    {% endif %}

[gcode_macro  _clean_nozzle_cooldown_check]
gcode:
  {% set extruder_temperature = printer[printer.toolhead.extruder].temperature %}
  {% set extruder_target = printer[printer.toolhead.extruder].target %}
  {% if extruder_temperature <= extruder_target %}
        SET_GCODE_VARIABLE MACRO=_clean_nozzle_move  VARIABLE=move VALUE=False
  {% endif %}

###############################################################################################################################################
###############################################################################################################################################

[gcode_macro CLEAN_HOTCOLD]
variable_temperature_offset:   30 
gcode:
    {% set extruder_target = printer[printer.toolhead.extruder].target %}
    {% set extruder_temperature = printer[printer.toolhead.extruder].temperature %}
    {% set cooltemp_target = extruder_target - temperature_offset %}
    {% set min_extrude_temp = printer.configfile.settings.extruder.min_extrude_temp %}
    {% if extruder_target >= min_extrude_temp and extruder_temperature >= min_extrude_temp %}
        SAVE_GCODE_STATE NAME=STATE_CLEAN
        SET_GCODE_OFFSET Z=0.0                                                        ; reset the G-Code Z offset (adjust Z offset if needed)
        SET_GCODE_VARIABLE MACRO=clean_nozzle  VARIABLE=wipe_qty VALUE=100            ; do enough wipes so the nozzle has time to cool down
        SET_GCODE_VARIABLE MACRO=clean_nozzle  VARIABLE=enable_purge VALUE=False      ; no purge
        SET_GCODE_VARIABLE MACRO=clean_nozzle  VARIABLE=enable_hotcold VALUE=True     ; hot to cold cleaning
        M109 S{extruder_target}                                                       ; wait for extruder to reach the target temperature
        M104 S{cooltemp_target}                                                       ; cool down during wipes to prevent oozing after wipes
        M106 S256                                                                     ; set fan speed to max to help cooling
        G4 P{10 * 1000}                                                               ; dwell time to spare nozzle a bit
        CLEAN_NOZZLE                                                                  ; start cleaning
        M106 S0                                                                       ; stop part cooling fan
        SET_GCODE_VARIABLE MACRO=clean_nozzle  VARIABLE=enable_hotcold VALUE=False    ; hot to cold cleaning off
        RESTORE_GCODE_STATE NAME=STATE_CLEAN
    {% endif %}

[gcode_macro CLEAN_PURGE]
gcode:
    SAVE_GCODE_STATE NAME=STATE_CLEAN
    SET_GCODE_OFFSET Z=0.0  
    SET_GCODE_VARIABLE MACRO=clean_nozzle  VARIABLE=wipe_qty VALUE=5
    SET_GCODE_VARIABLE MACRO=clean_nozzle  VARIABLE=enable_purge VALUE=True
    SET_GCODE_VARIABLE MACRO=clean_nozzle  VARIABLE=purge_len VALUE=100
    CLEAN_NOZZLE
    RESTORE_GCODE_STATE NAME=STATE_CLEAN

[gcode_macro CLEAN_PRIME]
gcode:
    SAVE_GCODE_STATE NAME=STATE_CLEAN
    SET_GCODE_OFFSET Z=0.0  
    SET_GCODE_VARIABLE MACRO=clean_nozzle  VARIABLE=wipe_qty VALUE=5
    SET_GCODE_VARIABLE MACRO=clean_nozzle  VARIABLE=enable_purge VALUE=True
    SET_GCODE_VARIABLE MACRO=clean_nozzle  VARIABLE=purge_len VALUE=25
    CLEAN_NOZZLE
    RESTORE_GCODE_STATE NAME=STATE_CLEAN

[gcode_macro CLEAN_NOPURGE]
gcode:
    SAVE_GCODE_STATE NAME=STATE_CLEAN
    SET_GCODE_OFFSET Z=0.0  
    SET_GCODE_VARIABLE MACRO=clean_nozzle  VARIABLE=wipe_qty VALUE=3
    SET_GCODE_VARIABLE MACRO=clean_nozzle  VARIABLE=enable_purge VALUE=False
    CLEAN_NOZZLE
    RESTORE_GCODE_STATE NAME=STATE_CLEAN